.loader {
    position: relative;
    top: 200px;
    left: 50%;
    min-height: 400px;
}

.scrollspy-example {
    position: relative;
    height: 200px;
    margin-top: .5rem;
    overflow: auto;
}

.chosen-container {
    min-width:200px;
    width:100% !important;
}
main.container{
    min-height: 300px;
    height: 900px;
    overflow: auto !important;
}
caption{
    min-width: 700px;
}
.nav-link:hover{
    cursor: pointer;
}