{% extends "index.html" %}
{% block  body %}
<div  class=" border col-12 align-items-center" style="height: 650px;">
    <div class="row  d-flex align-items-center justify-content-center" style="left: 40%;position: relative;top: 35%;">
    <label for="title" class="justify-content-center">{{ title }}</label><br/>
    </div>
    <div class="row d-flex align-items-center justify-content-center" style="left: 40%;position: relative;top: 35%;">
      <label for="title" class="justify-content-center">Team Members :</label><br/>
    </div>
    <div class="row d-flex align-items-center justify-content-center" style="left: 40%;position: relative;top: 35%;">
        <label for="title" class="justify-content-center" style="padding-left: 50px;">&#9; Sarath Surendran</label><br/>
        <label for="title" class="justify-content-center" style="padding-left: 50px;"> &#9;Sriram Manne </label><br/>
       
      </div>

</div>
  
{% endblock %}