{% extends "index.html" %}
{% block body %}
<input type="hidden" value={{made_by}} />
<div class=" border" style="grid-area: content;min-width: 1px;overflow-y: auto;">
  <main class="container border" style="position:fixed;top:10%;padding: 10px;left: 5%;right: 10%;">
    <nav class=" ">
      <div class="nav nav-tabs align-items-center" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
          role="tab" aria-controls="nav-home" aria-selected="true">Exploratory Data Analysis</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
          role="tab" aria-controls="nav-profile" aria-selected="false">Regression Analysis</button>
        <button class="nav-link pred-tab" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
          role="tab" aria-controls="nav-contact" aria-selected="false">Model - Prediction</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent" style="height: auto;min-height: 100px;">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

        <div class="dropdown" id="chartsdropdwn" style="min-height: 80px;">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="chartsdropdwnbtn"
            data-bs-toggle="dropdown" aria-expanded="false" style="position:relative;top:20px">
            <span>Select Chart to display</span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" value="0" href="#">None</a></li>
            <li><a class="dropdown-item" value="1" href="#"> Model Vs Year : Barchart</a></li>
            <li><a class="dropdown-item" value="2" href="#">Vehicles by Top 10 regions : Barchart</a></li>
            <li><a class="dropdown-item" value="3" href="#">Vehicles by number of cylinders : Barchart</a></li>
            <li><a class="dropdown-item" value="4" href="#">Vehicles grouped by color : Barchart</a></li>
          </ul>
        </div>
        <div id="eda-chart">
          <img src="static/images/out.png" alt="Chart not found" width="900" height="700" style="padding:20px">
        </div>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="loader">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <form style="position: relative;top:20px" class="row g-3">
          <!-- <div class="row mb-3">
            <label for="make" class="col-form-label " >Make</label>
            <div class="col-sm-10">
            <select id="make" data-placeholder="Type &apos;C&apos; to view" class="chosen-select-make" tabindex="10">
              <option value="0">None</option>
            </select>
          </div>
            <label for="model" class="form-label" style="margin-left:50px">Model</label>
            <select id="model" data-placeholder="Type &apos;C&apos; to view" class="chosen-select-model" tabindex="10">
              <option value="0">None</option>
            </select>
          </div>
        
          <div class="mb-3">
            <label for="vehicle-size" class="form-label">Size</label>
            <select id="model" data-placeholder="Type &apos;C&apos; to view" class="chosen-select-model" tabindex="10">
              <option value="0">None</option>
            </select> 
          <div class="mb-3">
            <label for="vehicle-miles" class="form-label">Miles (Odometer)</label>
            <input type="input" class="form-control" id="vehicle-miles">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Prediction Model</label>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false" style="position:relative;top:20px" value="linear">
                Linear Regression
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" value="ridge" href="#">Ridge</a></li>
                <li><a class="dropdown-item" value="lasso" href="#">Lasso</a></li>
              </ul>
            </div>
          </div>
          <br />
          <button type="button" id ="predictbtn" class="btn btn-primary">Submit</button> -->
         
            <div class="col-md-4">
              <label for="veh-make" class="form-label">Make</label>
              <select id="veh-make" data-placeholder="Type &apos;C&apos; to view" class="form-control chosen-select-make" tabindex="10">
                <option value="0">None</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="veh-model" class="form-label">Model</label>
              <select id="veh-model" data-placeholder="Type &apos;C&apos; to view" class="form-control chosen-select-model" tabindex="10">
                <option value="0">None</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="veh-size" class="form-label">Size</label>
              <select id="veh-size" data-placeholder="Type &apos;C&apos; to view" class="form-control chosen-select-size" tabindex="10">
                <option value="0">None</option>
              </select>
            </div>
          
          
            <div class="col-4">
                <label for="veh-miles" class="form-label">Miles (Odometer)</label>
                <input type="input" class="form-control" id="veh-miles">
            </div>
            <div class="col-4">
              <label for="veh-year" class="form-label">Year</label>
              <input type="input" class="form-control" id="veh-year">
          </div>
          <div class="col-4">
            <label for="veh-condition" class="form-label">Condition</label>
            <select id="veh-condition" data-placeholder="Type &apos;C&apos; to view" class="form-control chosen-select-condition" tabindex="10">
              <option value="0">None</option>
            </select>
        </div>


        <div class="col-4">
          <label for="veh-drive" class="form-label">Drive Type</label>
          <select id="veh-drive" data-placeholder="Type &apos;C&apos; to view" class="form-control chosen-select-drive" tabindex="10">
            <option value="0">None</option>
          </select>
      </div>
      <div class="col-4">
        <label for="veh-transmission" class="form-label">Transmission</label>
        <select id="veh-transmission" data-placeholder="Type &apos;C&apos; to view" class="form-control chosen-select-transmission" tabindex="10">
          <option value="0">None</option>
        </select>
    </div>
    <div class="col-4">
      <label for="veh-color" class="form-label">Color</label>
      <select id="veh-color" data-placeholder="Type &apos;C&apos; to view" class="form-control chosen-select-color" tabindex="10">
        <option value="0">None</option>
      </select>
  </div>
  <div class="col-4">
    <label for="veh-type" class="form-label">Type</label>
    <select id="veh-type" data-placeholder="Type &apos;C&apos; to view" class="form-control chosen-select-type" tabindex="10">
      <option value="0">None</option>
    </select>
</div>

            <div class="col-12">
              <label for="inputAddress2" class="form-label">Address 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">State</label>
              <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          
        </form>
        <table class="key-value-table" id="predictdetails" style="position:relative;top:30px" summary=" ">
          <caption>*The results displayed will be in range +/- 5000 dollars from the predicted amount.</caption>
          <tbody>
              <tr>
                  <th class="width-20">Prediction Model Used :</th>
                  <td>Linear Regression</td>
              </tr>
              <tr>
                  <th>Predicted Price :</th>
                  <td ><span id="pred_price">29,000 USD<span></td>
              </tr>
              <tr style="height:20px"><td></td><td></td></tr>
              <tr>
               <td> <button type="button" id ="showresults" class="btn btn-primary">Show vehicles in price range</button></td>
              </tr>
          </tbody>
      </table>
      <table class="table table-hover predict-results"  style="position:relative;top:50px">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Vehicle Model</th>
            <th scope="col">Type</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Condition</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
        
          
        </tbody>
      </table>
      </div>
    </div>
  </main>
</div>

</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
  var data ={{data|tojson}}

</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chosen.jquery.min.js') }}"></script>


{% endblock %}